/* Nicholas Thibeault 8835735 */
body{
    font : normal normal normal 12px/1.5 Arial, Helvetica, sans-serif;
    width : 100vw;
    height : 100vh;
    background-color : hsla(268, 70%, 68%, 0.5);
}
h2{
    color : #f02;
    font-size : 2em;
}