/* Nicholas Thibeault 8835735 */
body{
    font : normal normal normal 12px/1.5 Arial, Helvetica, sans-serif;
    width : 100vw;
    height : 100vh;
    background-color : hsla(268, 70%, 68%, 0.5);
}
h2{
    color : #f02;
    font-size : 2em;
}
header{
    background-color : hsl(202, 90%, 12%);
}
main{
    float : left;
    width : 65vw;
    height : 60vh;
    background-color : hsl(281, 91%, 17%);
}
aside{
    float : right;
    width : 25vw;
    height : 60vh;
    background-color : hsl(204, 79%, 37%);
}
footer{
    clear : both;
    background-color : hsl(167, 87%, 36%);
}
.structural{
    margin : 10px;
    padding : 10px;
    border : 2px solid black;
}
#para1{
 color : rgb(93, 84, 219);
}
#para2{
color : rgb(27, 219, 75);
}
a:hover{
    color : #f02;
}
footer p{
    font-size : .75em;
}